n8n/Talent_Manager/Talent Manager.json
{
  "name": "Talent Manager",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        256
      ],
      "id": "abac7e1d-0caa-42e4-939b-ed24dc79818b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vha89y89vUPBuS9l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        416,
        32
      ],
      "id": "90570878-c3f7-4e89-9b6c-07f15aa26a42",
      "name": "Pending Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "ECaQsJ0xhhmN0yNX",
          "name": "Email proiecte"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1N2hQ6e0q7siS-m61DjeLjwJSWoL9kmifUA4YD4zMqxg",
          "mode": "list",
          "cachedResultName": "Pending Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2hQ6e0q7siS-m61DjeLjwJSWoL9kmifUA4YD4zMqxg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2hQ6e0q7siS-m61DjeLjwJSWoL9kmifUA4YD4zMqxg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Contact": "={{ $json.Contact }}",
            "Email": "={{ $json['Email link'] }}",
            "Scurt rezumat": "={{ $('AI Report').item.json.output[0]['Scurt rezumat'] }}",
            "Oferta(RON)": "={{ $('AI Report').item.json.output[0]['Oferta(RON)'] }}",
            "Tip eveniment": "={{ $('AI Report').item.json.output[0]['Tip eveniment'] }}",
            "Artist": "={{ $('AI Report').item.json.output[0].Artist }}",
            "Data propusa": "={{ $('AI Report').item.json.output[0]['Data propusa'] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data propusa",
              "displayName": "Data propusa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Artist",
              "displayName": "Artist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tip eveniment",
              "displayName": "Tip eveniment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Oferta(RON)",
              "displayName": "Oferta(RON)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scurt rezumat",
              "displayName": "Scurt rezumat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1504,
        -176
      ],
      "id": "dac6783d-da4f-462b-8c22-09a0351ca40d",
      "name": "List",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oaXiKW5NGItRgJCy",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ești un analist de date specializat în extragerea informațiilor de propuneri de evenimente din emailuri.\n\nScopul tău este să analizezi textul primit și să extragi informațiile necesare pentru a popula o foaie de calcul.\n\n**Textul de analizat {{ $json.text }}:**\n\n**Reguli de Extracție:**\n1.  **Data propusa:** Extrage data exactă a evenimentului propus (Ex: 20.06.2026).\n2.  **Artist:** Extrage numele artistului/trupului propus.\n3.  **Tip eveniment:** Identifică tipul evenimentului (Ex: Podcast, Concert, Festival).\n4.  **Oferta(RON):** Extrage doar valoarea numerică a onorariului propus, convertită în RON (dacă este în altă valută) sau direct valoarea, fără valută sau formatare. Dacă nu există o sumă, folosește \"Neprecizat\".\n5.  **Scurt rezumat:** Creează un rezumat concis de maxim 10 cuvinte care să descrie propunerea.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        672,
        32
      ],
      "id": "e283e3f3-f5d3-48a8-ae92-5741977aa427",
      "name": "AI Report"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"Data propusa\": \"date/text\",\n    \"Artist\": \"text\",\n    \"Tip eveniment\": \"text\",\n    \"Oferta(RON)\": \"number\",\n    \"Scurt rezumat\": \"text\"\n  }\n]",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        768,
        256
      ],
      "id": "f0858287-9751-46bd-9b1c-30d5eabb72be",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        464
      ],
      "id": "9da4d860-8a07-4e8a-829f-25a417df9450",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "vha89y89vUPBuS9l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c84272eb-872c-4132-b78d-32d999294269",
              "name": "id",
              "value": "={{ $('Pending Email').item.json.id }}",
              "type": "string"
            },
            {
              "id": "14386d2c-18b7-4bb3-a4b9-06874de0241d",
              "name": "Contact",
              "value": "={{ $('Pending Email').item.json.from.text }}",
              "type": "string"
            },
            {
              "id": "546ac632-8514-4922-8c8f-596834ee3e91",
              "name": "Email link",
              "value": "=https://mail.google.com/mail/u/1/#all/{{ $node[\"Pending Email\"].json[\"threadId\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        32
      ],
      "id": "1c23a305-6cec-4a13-8eec-ef05054e4ad2",
      "name": "Extracting Info"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extracting Info').item.json.Contact }}",
        "subject": "Tarifele artistului.",
        "message": "mesJ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1856,
        224
      ],
      "id": "69fa9d2b-6419-469d-8cb3-a337d3b1e34f",
      "name": "Send a message",
      "webhookId": "52efa3bf-d10e-4b58-bea9-33bcbd091206",
      "credentials": {
        "gmailOAuth2": {
          "id": "4PqkdLjI1iHVLNli",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "tu vei primi un artist si trebuie sa cauri intr-un google sheet ce tarif relevant are.  De asemenea va trebui sa mentionezi si daca mai are alte cerinte.\n\nDe exemplu: Daca intreb cat cere delia pentru 2 zile de concert si ea cere 5000 euro per zi de concert si 3000 de euro pentru aparitii la televizor, tu vei raspunde ca Delia cere 10000 pentru 2 zile de concert",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1392,
        224
      ],
      "id": "d78e6705-da96-4f86-a140-89beb75cd167",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1360,
        448
      ],
      "id": "7dc074e9-2b99-4c78-b71d-fd86cfb66aab",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "vha89y89vUPBuS9l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Tarif\": \"number\",\n    \"Altele\": \"text\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1488,
        448
      ],
      "id": "29d1e2aa-2b89-45e5-8999-4366c4958c4e",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1568,
        656
      ],
      "id": "8dd61a62-91ef-4276-a6aa-2468a57d98f7",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "vha89y89vUPBuS9l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Report",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pending Email": {
      "main": [
        [
          {
            "node": "AI Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Report": {
      "main": [
        [
          {
            "node": "Extracting Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Report",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extracting Info": {
      "main": [
        [
          {
            "node": "List",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ebbe25f-41c0-40c8-8ac9-50f11cac01df",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07c22fe7453b3c10e88283d88620eb7e4495f0364d2e96ce30162c5c13887b6f"
  },
  "id": "w8uUdoTGpLD8cJo9",
  "tags": []
}